.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Textfield {
  width: 500px;
}

.Todo-container {
  width: 500px;
}

.Todo {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  user-select: none;
}

.Todo-text {
  margin: 0 auto 0 4px;
}
